* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #2b2b33;
	font-family: "Vazir";
}

.header {
	width: 100%;
	/* background-color: #212128; */
	display: flex;
	padding: 1.5em 2.6em;
	z-index: 1000;
	position: relative;
}

.logoCon {
	flex: 2;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	/* background-color: yellow; */
}

.logoCon img {
	width: 50px;
}

.navbarCon {
	flex: 7;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
}

.navbar {
	width: 50%;
	/* background-color: green; */
}

.navbarList {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.navbarList li {
	color: antiquewhite;
	list-style: none;
	font-size: 1em;
}

.contactCon {
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	/* background-color: purple; */
}

.contactCon button {
	border: 2px solid yellow;
	font-family: "Vazir";
	padding: 1em 2em;
	font-size: 0.8em;
	font-weight: 600;
	border-radius: 50px;
	outline: none;
	/* border: none; */
	background-color: transparent;
	color: rgb(247, 247, 247);
}

.selectedMenu {
	/* border-bottom: 2px solid rgb(244, 244, 5); */
	border-radius: 5px;
	padding: 0.4em 1.2em;
	font-weight: 500;
	background-color: #2b2b33;
}

/* Start Main */
.main {
	width: 95%;
	display: block;
	margin: 0 auto;
	padding: 1em 0;
	/* background-color: red; */
}

.TitleTextCon {
	width: 100%;
	/* background-color: green; */
	padding-inline-start: 2em;
	margin-block-end: 1em;
}

.TitleText {
	color: antiquewhite;
}

.sliderCon {
	width: 100%;
	position: relative;
	z-index: 9999;
	margin-block-end: 3em;
}

.swiper {
	width: 100%;
	border-radius: 15px;
}

.swiper-slide img {
	width: 100%;
	background-color: red;
	border-radius: 15px;
}
/* 
.swiper-slide {
	padding: 50px;
} */

.swiper-button-next,
.swiper-button-prev {
	background-color: rgb(227, 227, 227);
	padding: 1em;
	border-radius: 50%;
}

.Svg {
	padding: 0;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 2;
}

.aboutUsCon {
	display: flex;
	flex-direction: row;
	background-color: #212128;
	border-radius: 15px;
	margin-block-end: 2em;
}

.aboutUsDetailCon {
	/* background-color: red; */
	flex: 5;
	padding: 3em;
}

.aboutUsDetailCon h2 {
	font-size: 1.4em;
	color: aliceblue;
	margin-block-end: 0.8em;
	margin-inline-start: 0.8em;
}

.aboutUsDetailCon p {
	color: aliceblue;
	font-weight: 100;
	font-family: 'Vazir';
}

.aboutUsImageCon {
	/* background-color: green; */
	flex: 2;
	padding: 3em;
	display: flex;
	align-items: center;
}

/* End Main */

/* Start Footer */
.footer {
	width: 100%;
	background-color: #212128;
	display: flex;
	padding: 1.5em 2em;
}

.footerChild {
	/* background-color: red; */
	width: 100%;
}

.footerChild:nth-child(odd) {
	/* background-color: green; */
}

.footer .copyright {
	/* background-color: rgb(0, 128, 98); */
	width: 50%;
	display: flex;
	align-items: center;
}

.footer .copyright * {
	color: aliceblue;
	font-size: 0.8em;
}

.footer .contact {
	/* background-color: purple; */
	width: 30%;
	display: flex;
	flex-direction: column;
}

.footer .contact * {
	font-size: 0.8em;
	color: aliceblue;
}

.footer .socialMedia {
	width: 40%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.socialMediaCon {
	width: 50%;
	border-radius: 8px;
	background-color: #212128;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	border: 1px solid #4e4e6a;
	padding-block: 1em;
}

.socialMediaCon i {
	font-size: 2em;
	color: #9c9c9c;
}

.pro {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: red;
	height: 5px;
}

.pro .red {
	background-color: red;
}

.pro .yellow {
	background-color: yellow;
}

.pro .blue {
	background-color: blue;
}

.pro .orange {
	background-color: orangered;
}

.pro .green {
	background-color: green;
}

.pro span {
	width: 20%;
	height: 5px;
	background-color: rgb(145, 99, 99);
}