* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #2b2b33;
	font-family: "Vazir";
}

.header {
	width: 100%;
	background-color: #212128;
	display: flex;
	padding: 1em 2.6em;
}

.logoCon {
	flex: 2;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	/* background-color: yellow; */
}

.logoCon img {
	width: 50px;
}

.navbarCon {
	flex: 7;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
}

.navbar {
	width: 50%;
	/* background-color: green; */
}

.navbarList {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.navbarList li {
	color: antiquewhite;
	list-style: none;
	font-size: 1em;
}

.contactCon {
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	/* background-color: purple; */
}

.contactCon button {
	font-family: "Vazir";
	padding: 1em 2em;
	font-size: 0.8em;
	font-weight: 600;
	border-radius: 50px;
}

/* Start Main */
.main {
	width: 95%;
	display: block;
	margin: 0 auto;
	/* background-color: red; */
}

.sliderCon {
	width: 100%;
}

.swiper {
	margin-block-start: 2em;
	width: 100%;
	border-radius: 15px;
}

.swiper-slide img {
	width: 100%;
	background-color: red;
	border-radius: 15px;
}
/* 
.swiper-slide {
	padding: 50px;
} */


