$Font-Persian: "Vazirmatn", "Vazir", sans-serif;

$Color-Body: #2b2b33;
$Color-Container: #212128;
$Color-AMA: #0ad5d5;
$Color-SAH: #f52a2a;
$Color-SMY: #18922f;
$Color-MHD: #ff8000;
$Color-SHM: #007fff;
$Color-Primary: #006fff;

$Breakpoint-Mobile: 425px;
$Breakpoint-Tablet: 768px;
$Breakpoint-Desktop: 1024px;

:root {
	--swiper-navigation-size: 1.5em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: $Color-Body;
	font-family: $Font-Persian;
	position: relative;
  }

  .Svg {
	position: absolute;
	z-index: 100;
  }

.header {
	width: 100%;
	/* background-color: #212128; */
	display: flex;
	padding: 1.5em 2.6em;
	z-index: 1000;
	position: relative;
}

.logoCon {
	flex: 2;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	/* background-color: yellow; */

	img {
		width: 50px;
	}
}

.navbarCon {
	flex: 7;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
}

.navbar {
	max-width: 90%;
	/* background-color: green; */
}

.navbarList {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	gap: 1em;

	li {
		color: antiquewhite;
		list-style: none;
		font-size: 1em;
	}
}

.contactCon {
	flex: auto;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	/* background-color: purple; */

	button {
		font-family: $Font-Persian;
		padding: 1em 2em;
		font-size: 0.8em;
		font-weight: 600;
		border-radius: 50px;
		outline: none;
		/* border: none; */
		background-color: $Color-Primary;
		color: rgb(247, 247, 247);
		border: none;
	}
}

.selectedMenu {
	/* border-bottom: 2px solid rgb(244, 244, 5); */
	border-radius: 5px;
	padding: 0.4em 1.2em;
	font-weight: 500;
	background-color: #2b2b33;
}

/* Start Main */
.main {
	width: 95%;
	display: block;
	margin: 0 auto;
	padding: 1em 0;
	/* background-color: red; */
}

.TitleTextCon {
	width: 100%;
	/* background-color: green; */
	padding-inline-start: 2em;
	margin-block-end: 1em;
}

.TitleText {
	color: antiquewhite;
}

.sliderCon {
	width: 100%;
	position: relative;
	z-index: 9999;
	margin-block-end: 3em;
}

.swiper {
	width: 100%;
	border-radius: 15px;
	overflow: unset;
	overflow-x: hidden;
}

.swiper-slide img {
	width: 100%;
	background-color: red;
	border-radius: 15px;
}

// .swiper-slide {
// 	padding: 50px;
// }

.swiper-button-next,
.swiper-button-prev {
	background-color: rgb(227, 227, 227);
	padding: 1em;
	border-radius: 50%;

	&:after {
		// padding: 0;
		// width: 100%;
		position: absolute;
		z-index: 2;
	}
}
.swiper-pagination {
	position: relative;
	.swiper-pagination-bullet {
		background: white;
		opacity: 0.7;
		border-radius: 4px;
		transition: 0.2s;
	}
	.swiper-pagination-bullet-active {
		background: $Color-Primary;
		width: 16px;
	}
}

.container {
	display: flex;
	flex-direction: row;
	background-color: $Color-Container;
	border-radius: 15px;
	margin-block-end: 2em;
	padding: 2.5em 3em;
}

.aboutUsDetailCon {
	/* background-color: red; */
	flex: 5;

	h2 {
		font-size: 1.7em;
		color: aliceblue;
		margin-block-end: 0.8em;
		margin-inline-start: 0.8em;
	}

	p {
		color: aliceblue;
		font-weight: 100;
		font-family: $Font-Persian;
	}
}

.aboutUsImageCon {
	/* background-color: green; */
	flex: 2;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.cardCon {
	width: 100%;
	/* background-color: red; */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	align-items: stretch;
	transform: translate(0);
	overflow: hidden;
	position: relative;
}

.contactUsCon{
	display: grid;
	grid-template-columns: 55% auto;
	margin-block-start: 0.8em;
}

.contactUsDetailCon {

	h2 {
		font-size: 1.7em;
		color: aliceblue;
		margin-block-end: 0.8em;
		margin-inline-start: 0.8em;
	}

	p {
		color: aliceblue;
		font-weight: 100;
		font-family: $Font-Persian;
		text-align: justify;
		margin-inline-end: 2em;
	}
}

.contactUsFormCon {

	text-align: center;

	p {
		color: aliceblue;
		font-weight: 100;
		font-family: $Font-Persian;
		text-align: justify;
		margin-inline-start: 0.8em;
		margin-block-end: 0.3em;
	}

	input {
		width: 95%;
		font-weight: 100;
		font-size: 1em;
		color: aliceblue;
		border-radius: 5px;
		padding: 7px;
		background: none;
		border: $Color-Primary 2px solid;
		margin-block-end: 0.8em;
	}

	textarea {
		width: 95%;
		font-family: $Font-Persian;
		font-weight: 100;
		font-size: 1em;
		color: aliceblue;
		border-radius: 5px;
		padding: 7px;
		background: none;
		border: $Color-Primary 2px solid;
		margin-block-end: 0.8em;
	}

	button {
		font-size: 1em;
		font-weight: 100;
		font-family: $Font-Persian;
		padding: 6px 40px;
		color: aliceblue;
		border: none;
		border-radius: 5px;
		background-color: $Color-Primary;
	}
}

.card {
	width: auto;
	height: auto;
	background-color: $Color-Container;
	border-radius: 15px;
	display: block;
	transform: translate(0);
	overflow: hidden;

	h3 {
		position: absolute;
		color: antiquewhite;
		display: block;
		margin: 1em;
		font-size: 1.5em;
	}

	h4 {
		color: antiquewhite;
		position: absolute;
		top: 2em;
		right: 1.5em;
		font-size: 26px;
		opacity: 0.5;
	}

	&:nth-child(1) {
		background-color: #292988;
	}

	&:nth-child(2) {
		background-color: #2c512f;
	}

	&:nth-child(3) {
		background-color: #4f2c51;
		lord-icon {
			position: absolute;
			bottom: -33px;
			right: -15px;
		}
	}

	&:nth-child(4) {
		background-color: #51512c;
	}

	&::before {
		content: "";
		position: absolute;
		top: -75px;
		left: -45px;
		z-index: -1;
		background: linear-gradient(to right, #1e7979, #2a7485);
		border-radius: 50%;
		width: 150px;
		height: 150px;
		transition: 0.6s;
	}

	&:hover::before {
		transform: scale(4.5);
	}
}
/* End Main */

/* Start Footer */
.footer {
	width: 100%;
	background-color: $Color-Container;
	display: flex;
	padding: 1.5em 2em;

	.copyright {
		/* background-color: rgb(0, 128, 98); */
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-inline-start: 0.7em;
		* {
			color: aliceblue;
			font-size: 0.8em;
		}
	}

	.contact {
		/* background-color: purple; */
		width: 30%;
		display: flex;
		flex-direction: column;

		* {
			font-size: 0.8em;
			color: aliceblue;
		}
	}

	.socialMedia {
		width: 40%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

.footerChild {
	/* background-color: red; */
	width: 100%;

	// &:nth-child(odd) {
	// 	background-color: green;
	// }
}

.socialMediaCon {
	width: 50%;
	border-radius: 8px;
	background-color: $Color-Container;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #4e4e6a;
	padding-block: 1em;

	i {
		font-size: 2em;
		color: #9c9c9c;
	}
}

.procode {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 3px;

	.ama {
		background-color: $Color-AMA;
	}

	.sah {
		background-color: $Color-SAH;
	}

	.smy {
		background-color: $Color-SMY;
	}

	.mhd {
		background-color: $Color-MHD;
	}

	.shm {
		background-color: $Color-SHM;
	}

	span {
		width: 20%;
		height: 3px;
		background-color: rgb(145, 99, 99);
	}
}
@media (max-width: $Breakpoint-Tablet) {
	.header {
		display: none;
	}
	.TitleTextCon {
		text-align: center;
		padding-inline-start: unset;
	}
	.aboutUsCon {
		flex-direction: column;
		gap: 30px;
	}
	.aboutUsDetailCon {
		h2 {
			margin-inline-start: unset;
			text-align: center;
		}
		p {
			text-align: justify;
		}
	}
	.aboutUsImageCon {
		justify-content: center;
	}
	.cardCon {
		grid-template-columns: 1fr 1fr;
	}
	.footer {
		flex-direction: column-reverse;
		align-items: center;
		gap: 15px;
		.copyright{
			width: auto;
		}
		.socialMedia {
			width: 50%;
			.socialMediaCon{
				width: 100%;
			}
		}
	}
}
@media (max-width: $Breakpoint-Tablet) {
	.aboutUsCon{
		padding: 1.5em;
	}
	.aboutUsImageCon img{
		max-width: 100%;
	}
	.cardCon {
		grid-template-columns: 1fr;
	}
	.card:nth-child(3){
		position: relative;
		width: 100%;
	}
}
